---
Language: Cpp
Standard: c++20

IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
LambdaBodyIndentation: OuterScope

AlignAfterOpenBracket: DontAlign
AlignOperands: DontAlign
ContinuationIndentWidth: 4
BinPackArguments: true
BinPackParameters: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: Never

AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true

SortIncludes: Never
SortUsingDeclarations: true

ReflowComments: false
AlignTrailingComments: Leave

AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpaceAfterTemplateKeyword: false
BreakTemplateDeclarations: Leave
AlignEscapedNewlines: Right

PenaltyBreakOpenParenthesis: 500
PenaltyBreakAssignment: 500
...
