Checks: '*,-cert-dcl21-cpp,-cert-dcl59-cpp,-cert-err58-cpp,-clang-analyzer-alpha.deadcode.UnreachableCode,-clang-diagnostic-unknown-warning-option,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-owning-memory,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-avoid-c-arrays,-google-*,google-explicit-constructor,google-runtime-int,google-runtime-member-string-references,-llvm-*,llvm-namespace-comment,-readability-braces-around-statements,-readability-identifier-naming,-readability-named-parameter,-readability-uppercase-literal-suffix,-readability-isolate-declaration,-readability-magic-numbers,-fuchsia-*,-hicpp-*,-misc-definitions-in-headers,-modernize-use-nodiscard,-modernize-avoid-c-arrays'

CheckOptions:
  - key:    misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:  '1'

HeaderFilterRegex: '^.*source\/(app|shared|plugins).*$'
